.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 40px;
  border-radius: 38%;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend__avatar.g-avatar {
  width: 70px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  display: block;
  padding-bottom: 10px;
  font-weight: 600;
}

.friend .friend__status,
.friend .friend__preview,
.friend .friend__timestamp {
  opacity: 0.6;
}

.friend__content .friend__status,
.friend__content .friend__preview,
.friend .friend__timestamp {
  font-size: 12px;
}

.friend .friend__now-listening {
  border: 2px solid #05e434;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.friend__content .fa-chevron-right {
  opacity: 0.5;
}

.friend__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 232, 232);
  padding: 10px 10px;
  border-radius: 5px;
}
